  <!-- Plugins and scripts required by this views -->
<script src="js/google-maps.js"></script>
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?callback=initMap&amp;key=AIzaSyC6ZrxicziuxmqW_XY7FpT6j6QpWAiTRBQ"></script>

<div class="container-fluid">
    <!--To use the Google Maps JavaScript API, you must register your app project on the Google API Console and get a Google API key which you can add to your app-->
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-header">
                <i class="icon-map"></i>Google Maps
                <div class="card-actions">
                    <a href="https://google-developers.appspot.com/maps/documentation/javascript/reference" target="_blank">
                        <small class="text-muted">docs</small>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div id="map" style="height:650px;"></div>
            </div>
        </div>
    </div>
</div>