<div class="" animated fadeIn" ng-controller="TransactionCtrl">
    <!-- Profile -->
    <div class="card" ng-controller="ProfileCtrl">
        <div class="card-body row pt-0 pb-0">
            <div class="col-12 pt-0">
                <div class="row">
                    <div class="pl-3" style="width: 160px;">
                        <div class="mt-2" style="vertical-align: bottom;">
                            <img class="epaulet-images" src="../img/profile/ProfileDefault.png" style="width: 120px; height: 150px; border: 0px solid none;" />
                        </div>
                        <div class="mt-2" style="vertical-align: bottom;">
                            <img class="epaulet-images pb-1" src="{{ epauletImage }}" style="width: 120px; height: 55px;" />
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div class="callout callout-primary col-6 h-100">
                                <ul class="icons-list pb-0 text-left">
                                    <li class="" style="height: 33%;">
                                        <font class="font-2xl">{{ profile.RankDescription }} {{ profile.FullName }}</font>
                                    </li>
                                    <li class="" style="height: 33%;">
                                        <font style="font-size: 18px;">Flying at {{ profile.CompanyName }}</font>
                                        <span class="pl-2">
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 1 ? 'text-success' : 'text-muted'"></span>
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 2 ? 'text-success' : 'text-muted'"></span>
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 3 ? 'text-success' : 'text-muted'"></span>
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 4 ? 'text-success' : 'text-muted'"></span>
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 5 ? 'text-success' : 'text-muted'"></span>
                                        </span>
                                    </li>
                                    <li class="" style="height: 33%; font-size: 16px;">
                                        <!-- Licenses -->
                                        <div class="row pl-3">
                                            <div class="pr-4">
                                                <span class="" ng-class="profile.IsStudentPilotLicense === true ? 'fa fa-drivers-license text-success' : 'fa fa-drivers-license text-danger'"></span>
                                                <span class="" ng-class="profile.IsStudentPilotLicense === true ? 'text-success' : 'text-danger'">Student</span>
                                            </div>
                                            <div class="pr-4">
                                                <span class="" ng-class="profile.IsPrivatePilotLicense === true ? 'fa fa-drivers-license text-success' : 'fa fa-drivers-license text-danger'"></span>
                                                <span class="" ng-class="profile.IsPrivatePilotLicense === true ? 'text-success' : 'text-danger'">Private</span>
                                            </div>
                                            <div class="pr-4">
                                                <span class="" ng-class="profile.IsCommercialPilotLicense === true ? 'fa fa-drivers-license text-success' : 'fa fa-drivers-license text-danger'"></span>
                                                <span class="" ng-class="profile.IsCommercialPilotLicense === true ? 'text-success' : 'text-danger'">Commerical</span>
                                            </div>
                                            <div>
                                                <span class="" ng-class="profile.IsATPPilotLicense === true ? 'fa fa-drivers-license text-success' : 'fa fa-drivers-license text-danger'"></span>
                                                <span class="" ng-class="profile.IsATPPilotLicense === true ? 'text-success' : 'text-danger'">ATP</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-2">
                                <div class="callout callout-info">
                                    <i class="icon-hourglass"></i>
                                    <small class="text-muted">Age - ({{ profile.BirthDate !== '0001-01-01T00:00:00' ? (profile.BirthDate | date:'MM-dd-yyyy') : '' }})</small>
                                    <br>
                                    <strong class="h4">{{ profile.Age }} yrs.</strong>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="callout callout-info">
                                    <ul class="icons-list pb-0 text-left">
                                        <li class="h-100">
                                            <div class="float-left">
                                                <img class="epaulet-images" src="{{ companyImage }}" style="width: 120px; height: 65px;" />
                                            </div>
                                            <div>
                                                <small class="text-muted">Service Years</small>
                                                <br>
                                                <strong class="h4">{{ profile.YearsInService | currency : "" : 2  }} yrs</strong>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--/.row-->
                        <div class="row" style="margin-left: -30px;">
                            <div class="col-12">
                                <h4 class="card-title mb-0">{{ profile.CareerName }} Career</h4>
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                        <div class="row" style="margin-left: -30px;">
                            <div class="col-12">
                                <div class="row" ng-controller="LogbookCareerCtrl">
                                    <div class="col-2">
                                        <div class="callout">
                                            <i class="icon-plane"></i>
                                            <small class="text-muted">Hours</small>
                                            <br>
                                            <strong class="h4">{{ logbook.FlightTimeHrs | currency : "" : 2 }}</strong>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-2">
                                        <div class="callout callout-primary">
                                            <i class="icon-star"></i>
                                            <small class="text-muted">Rating</small>
                                            <br>
                                            <strong class="h4">{{ logbook.Rating  | currency : "" : 2  }}</strong>
                                            <div class="bars">
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ logbook.Rating  }}%" aria-valuenow="{{ logbook.Rating  }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-2">
                                        <div class="callout callout-info">
                                            <i class="icon-clock"></i>
                                            <small class="text-muted">On Time %</small>
                                            <br>
                                            <strong class="h4">{{ (logbook.OnTimePct * 100).toFixed(1) }}%</strong>
                                            <div class="bars">
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ logbook.OnTimePct * 100 }}%" aria-valuenow="{{ logbook.OnTimePct * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-2">
                                        <div class="callout callout-danger">
                                            <i class="fa fa-map-marker"></i> / <i class="icon-home"></i>
                                            <small class="text-muted">Location</small>
                                            <br>
                                            <strong class="h4">{{ profile.CurrentLocationIcao }} / {{ profile.HomeBaseIcao }}</strong>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                    <div class="col-4">
                                        <div class="callout callout-info">
                                            <i class="icon-plane"></i>
                                            <small class="text-muted">Aircraft</small>
                                            <span class="pr-2 text-muted">
                                                (
                                                <span class="pl-1" ng-class="profile.IsLeftSeat === true ? 'fa fa-male fa-2x text-success' : 'fa fa-male'"></span>
                                                <span class="pl-1" ng-class="profile.IsLeftSeat != true ? 'fa fa-male fa-2x text-success' : 'fa fa-male'"></span>
                                                )
                                            </span>
                                            <br>
                                            <strong class="h4">{{ profile.Manufacturer }} {{ profile.Model }} / {{ profile.AircraftDescription }}</strong>
                                        </div>
                                    </div>
                                    <!--/.col-->
                                </div>
                                <!--/.row-->
                            </div>
                        </div>
                        <!--/.row-->
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>

    <!-- Pilot Pay -->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="card-title mb-0">{{ profile.FirstName }}'s Financial Profile</h4>
                        </div><!--/.col-->
                    </div>
                    <div class="row">
                        <!-- Net Worth -->
                        <div class="col-sm-6 col-lg-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="callout callout-success">
                                        <small class="text-muted">Net Worth</small>
                                        <br>
                                        <strong class="h4">{{ profile.NetWorth | currency : "$" : 2 }}</strong>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="callout callout-warning">
                                        <small class="text-muted">Estimated Monthly Budget</small>
                                        <br>
                                        <strong class="h4">{{ profile.EstimatedMonthlyBudget | currency : "$" : 0  }}</strong>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                        </div>
                        <!-- Pay Rate -->
                        <div class="col-sm-6 col-lg-8">
                            <div class="row">
                                <!--/.col-->
                                <div class="col-sm-2">
                                    <div class="callout callout-danger">
                                        <small class="text-muted">Hourly Pay Rate</small>
                                        <br>
                                        <strong class="h4">{{ profile.PayRate | currency : "$" : 2  }}</strong>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-2">
                                    <div class="callout callout-info">
                                        <small class="text-muted">Service Years</small>
                                        <br>
                                        <strong class="h4">{{ profile.YearsInService | currency : "" : 2  }} yrs</strong>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-4">
                                    <div class="callout callout-info">
                                        <small class="text-muted">Rank</small>
                                        <br>
                                        <strong class="h4">{{ profile.RankDescription }}</strong>
                                    </div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-4">
                                    <div class="callout callout-info">
                                        <small class="text-muted">Company</small>
                                        <br>
                                        <strong class="h4">{{ profile.CompanyName }}</strong>
                                        <span class="pl-1 text-success">
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 1 ? 'text-success' : 'text-muted'"></span>
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 2 ? 'text-success' : 'text-muted'"></span>
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 3 ? 'text-success' : 'text-muted'"></span>
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 4 ? 'text-success' : 'text-muted'"></span>
                                            <span class="fa fa-star" ng-class="profile.PrestigeLevel >= 5 ? 'text-success' : 'text-muted'"></span>
                                        </span>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                        </div>
                        <!-- Dates -->
                        <div class="col-sm-6 col-lg-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    &nbsp;
                                </div>
                                <!--/.col-->
                            </div>
                        </div>
                    </div>
                    <div class="row pb-0">
                        <div class="col-sm-6 col-lg-4">
                            <hr class="mt-0">
                            <ul class="icons-list">
                                <li>
                                    <i class="fa fa-money bg-success"></i>
                                    <div class="desc">
                                        <div class="title">Estimated Monthly Income</div>
                                        <small>Based on current roster</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.EstimatedMonthlyIncome | currency : "$" : 0  }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-home bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Monthly Lifestyle</div>
                                        <small>Used to determine time allowance bonus</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.LifestyleMonthlyAmount | currency : "$" : 0  }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-map-o bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Monthly Route Fee</div>
                                        <small>Monthly amount spent on routes</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.MonthlyRouteFee | currency : "$" : 0  }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4 actionIconSize"></i>
                                    </div>
                                </li>
                                <li>
                                    <i class="icon-clock bg-warning"></i>
                                    <div class="desc">
                                        <div class="title">On Time Window Bonus</div>
                                        <small>Bonus that is added to on time window</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.TimeAllowanceBonusMin }} mins.</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <hr class="mt-0">
                            <ul class="icons-list">
                                <li>
                                    <i class="fa fa-area-chart bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Aircraft Family Hours Multiplier</div>
                                        <small>Current Aircraft</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.PayRateMultiplierHoursInServiceAircraft | currency : "x" : 2  }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-plane bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Aircraft Multiplier</div>
                                        <small>Family of aircraft you fly</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.PayRateMultiplierAircraft | currency : "x" : 2  }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-building bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Company Multiplier</div>
                                        <small>Prestige level of company</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.PayRateMultiplierCompany | currency : "x" : 2  }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-clock-o bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Service Years Multiplier</div>
                                        <small>Years working at current company</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.PayRateMultiplierYearsInService | currency : "x" : 2  }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <hr class="mt-0">
                            <ul class="icons-list">
                                <li>
                                    <i class="fa fa-area-chart bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Base Pay Rate</div>
                                        <small>Current Rank</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.PayRateHr | currency : "$" : 2  }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-area-chart bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Start of Flying Career</div>
                                        <small>Day started being a pilot</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.CareerStartDate !== '0001-01-01T00:00:00' ? (profile.CareerStartDate | date:'M/d/yyyy'): '--' }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-plane bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Start of Current Career</div>
                                        <small>Day started current job</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.CurrentCareerStartDate !== '0001-01-01T00:00:00' ? (profile.CurrentCareerStartDate | date:'M/d/yyyy'): '--' }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-building bg-danger"></i>
                                    <div class="desc">
                                        <div class="title">Medical Expiration</div>
                                        <small>Date for renewal</small>
                                    </div>
                                    <div class="value">
                                        <div class="small text-muted">&nbsp;</div>
                                        <strong>{{ profile.MedicalLicenseExpireDate !== '0001-01-01T00:00:00' ? (profile.MedicalLicenseExpireDate | date:'M/d/yyyy'): '--' }}</strong>
                                    </div>
                                    <div class="actions">
                                        <i class="fa fa-circle text-muted mt-2 pl-4"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </div>

    <!-- Yearly Transaction Summary -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="card-title mb-0">Yearly Transaction Summary</h4>
                </div><!--/.col-->
            </div><!--/.row-->
            <div class="" style="margin-top:20px;">
                <table class="table table-hover table-outline mb-0 hidden-sm-down table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Year</th>
                            <th>Salary</th>
                            <th>Bonus</th>
                            <th>Income Tax</th>
                            <th>Lifestyle</th>
                            <th>Route Fee</th>
                            <th>Hub Fee</th>
                            <th>Medical</th>
                            <th>Type Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in transactionsYearly">
                            <td>{{ transaction.TransactionYear }}</td>
                            <td class="text-success">{{ transaction.Salary | currency : "$" : 2  }}</td>
                            <td class="text-success">{{ transaction.Bonus | currency : "$" : 2  }}</td>
                            <td>{{ transaction.IncomeTax | currency : "$" : 2  }}</td>
                            <td>{{ transaction.LifeStyleAmount | currency : "$" : 2  }}</td>
                            <td>{{ transaction.RouteFee | currency : "$" : 2  }}</td>
                            <td>{{ transaction.HubFee | currency : "$" : 2  }}</td>
                            <td>{{ transaction.MedicalCertificateFee | currency : "$" : 2  }}</td>
                            <td>{{ transaction.TypeRatingCost | currency : "$" : 2  }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Monthly Transaction Summary -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="card-title mb-0">Monthly Transaction Summary</h4>
                </div><!--/.col-->
            </div><!--/.row-->
            <div class="" style="margin-top:20px;">
                <table class="table table-hover table-outline mb-0 hidden-sm-down table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Month</th>
                            <th>Salary</th>
                            <th>Bonus</th>
                            <th>Income Tax</th>
                            <th>Lifestyle</th>
                            <th>Route Fee</th>
                            <th>Hub Fee</th>
                            <th>Medical</th>
                            <th>Type Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="transaction in transactionsMonthly">
                            <td>{{ transaction.TransactionMonth }}/{{ transaction.TransactionYear }}</td>
                            <td class="text-success">{{ transaction.Salary | currency : "$" : 2  }}</td>
                            <td class="text-success">{{ transaction.Bonus | currency : "$" : 2  }}</td>
                            <td>{{ transaction.IncomeTax | currency : "$" : 2  }}</td>
                            <td>{{ transaction.LifeStyleAmount | currency : "$" : 2  }}</td>
                            <td>{{ transaction.RouteFee | currency : "$" : 2  }}</td>
                            <td>{{ transaction.HubFee | currency : "$" : 2  }}</td>
                            <td>{{ transaction.MedicalCertificateFee | currency : "$" : 2  }}</td>
                            <td>{{ transaction.TypeRatingCost | currency : "$" : 2  }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Chart Tabs -->
    <div class="row">
        <div class="col-md-12 mb-4" ng-init="selectedTab = 1;">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a ng-class="{active: selectedTab == 1}" class="nav-link" href="#" ng-click="selectedTab = 1;"><i class="displayNone fa fa-list mt-4"></i>Finance</a>
                </li>
                <li class="nav-item">
                    <a ng-class="{active: selectedTab == 2}" class="nav-link" href="#" ng-click="selectedTab = 2;">Performance</a>
                </li>
            </ul>

            <div class="tab-content">
                <div ng-class="{active: selectedTab == 1}" class="tab-pane" ng-show="selectedTab == 1">
                    <!-- Finance -->
                    <div class="card" ng-controller="TransactionMonthChartCtrl">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Finance</h4>
                                    <div class="small text-muted">Last 12 months</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 d-none d-md-block">
                                    <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
                                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                            <label class="btn btn-outline-secondary">
                                                <input type="radio" name="options" id="option1"> Day
                                            </label>
                                            <label class="btn btn-outline-secondary active">
                                                <input type="radio" name="options" id="option2" checked> Month
                                            </label>
                                            <label class="btn btn-outline-secondary">
                                                <input type="radio" name="options" id="option3"> Year
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" chart-options="options" chart-colors="colors" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-class="{active: selectedTab == 2}" class="tab-pane" ng-show="selectedTab == 2">
                    <!-- Performance -->
                    <div class="card" ng-controller="TransactionMonthChartCtrl">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Performance</h4>
                                    <div class="small text-muted">Last 30 days</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 d-none d-md-block">
                                    <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
                                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                            <label class="btn btn-outline-secondary">
                                                <input type="radio" name="options" id="option1"> Day
                                            </label>
                                            <label class="btn btn-outline-secondary active">
                                                <input type="radio" name="options" id="option2" checked> Month
                                            </label>
                                            <label class="btn btn-outline-secondary">
                                                <input type="radio" name="options" id="option3"> Year
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                                <canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="false" chart-series="series" chart-click="onClick" chart-options="options" chart-colors="colors" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>