    <!-- Profile -->
<div class="card" ng-controller="ProfileCtrl">
    <div class="card-body row pt-0 pb-0">
        <div class="col-12 pt-0">
            <div class="row">
                <div class="pl-3" style="width: 160px;">
                    <div class="mt-2" style="vertical-align: bottom;">
                        <img class="epaulet-images" src="''../../img/profile/ProfileDefault.png" style="width: 120px; height: 150px; border: 0px solid none;" />
                    </div>
                    <div class="mt-2" style="vertical-align: bottom;">
                        <!--<img class="epaulet-images pb-1" src="{{ epauletImage }}" style="width: 120px; height: 55px;" />-->
                        Career Name = {{ careerName }}
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="callout callout-primary col-6 h-100">
                            <ul class="icons-list pb-0 text-left">
                                <li class="" style="height: 33%;">
                                    <!--<font class="font-2xl">{{ profile.RankDescription }} {{ profile.FullName }}</font>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>